<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ui-sref="setting.type">เพิ่มประเภทรายการ</a>
                </li>

                <li class="list-group-item">
                    <a ui-sref='setting.user'>ข้อมูลส่วนตัว</a>
                </li>

            </ul>
        </div>
        <div class='col-12 col-md-8 ' style='border-radius:5px;border:0.5px solid rgba(0,0,0,.1);background:white;' ui-view></div>
    </div>

</div>