<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 ">
            <div class="p-2 bb">
                <div class="p-2 text-center">
                    <img src="public/img/file.png" style='width:64px' alt="">
                </div>
                <div class="p-2 set_a">

                    <p>รายรับทั่งหมด : 500 บาท</p>
                
                    <p>รายจ่ายทั่งหมด : 500 บาท</p>
               
                    <p>เงินคงเหลือทั่งหมด : 500 บาท</p>
            
                    <p>เงินเฉลี่ย 1 วันต่อเดือน : 500 บาท</p>
                    <div class="p-1 text-right">
                        <p>เดือน : มีนาคา 2561</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>