<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller='HeaderControl'>
  <div class="container">
    <a class="navbar-brand" style='color:rgb(227, 24, 10)' ui-sref='core'>Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link " ui-sref="home">
            <i class="fas fa-home"></i> หน้าหลัก</a>
        </li>
      </ul>
      <ul class='navbar-nav mr-auto mt-2 mt-lg-0' ng-if='authentication.users'>
        <li class="nav-item">
          <a class="nav-link" href="#">ความสำเร็จ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">เป้าหมาย</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0" ng-if='!authentication.users'>
        <div>
          <a class="nav-link" ui-sref='auth.signin'>
            <i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ
          </a>

        </div>
        <div>
          <a class="nav-link" ui-sref='auth.signup'>
            <i class="fas fa-user-plus"></i> สมัครสมาชิก</a>
        </div>
      </div>
      <div class="form-inline my-2 my-lg-0" ng-if='authentication.users'>
        <ul class='navbar-nav'>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ authentication.users.displayName }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ui-sref='setting.type'>เพิ่มประเภทรายการ</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="/api/users/logout"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>