<div class="container" ng-controller='HomeController'>
    <div class="row backGcolor">
        
        <div class="p-3 col-12 col-md-6 text-center  margin-center">
            <h1 class='colorFont'>รายรับ รายจ่าย</h1>
        </div>
        <div class="col-12 ">
           
            <form ng-submit="save()" class='col-12'>
                <div class="row  col-md-6" style='margin:0 auto;' ng-if='!skipp'>
                    <div class="col-12 col-md-6">

                        <div class="md-form">
                            <label for="">ใส่จำนวนเงินที่ต้องการ</label>
                            <input type="text" ng-model="information.money" placeholder="0.00 บาท" class="form-control">
                        </div>

                    </div>

                    <div class="col-12 col-md-6">
                        <label for="">ระบุบประเภทของรายการ</label>
                        <select class="form-control" ng-model="information.typeof" ng-change="showtype()">
                            <option ng-repeat="(key,types) in type" value='{{key}}'>{{ types }}</option>
                        </select>
                        <br>
                        <select class="form-control" ng-model="information.subtype" ng-if='subtype.lenght != 0'>
                            <option ng-repeat="(key,types) in subtype" value='{{key}}'>{{ types }}</option>
                        </select>
                        <br>
                    </div>
                    <button type="button" ng-click="skip()" class="p-3 btn btn-lg btn-block btn-color"><i class="fas fa-angle-double-right"></i> Skip
                 
                        
                         </button>
                </div>
                <div class="row" ng-if='skipp'>
                    <div class="col-12 col-md-6">
                        <div class="col-12 col-md-4">
                            <label for="">จำนวนเงิน</label>
                            <p class='text-center'>
                                <strong>{{ information.money | currency:"฿ ": 2 }} บาท</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="">ประเภทของรายการ</label>
                            <p class='text-center'>
                                <strong>{{ type[information.typeof] }}</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="">ประเภทย่อยของรายการ</label>
                            <p class='text-center'>
                                <strong>{{ subtype[information.subtype] }}</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="">รายละเอียด</label>
                            <p class='text-center'>
                                <strong>{{ information.detaill }}</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-3">
                        <div class="form-group">
                            <label for="comment">รายละเอียดของรายการ :</label>
                            <input type="text" ng-model='information.detaill' class="form-control">
                        </div>
                    </div>
                    <button type="submit" class='btn btn-lg btn-block btn-color'><i class="far fa-save"></i> SAVE</button>

                </div>
            </form>

        </div>

    </div>
    <div class="row  " style='position: relative;top:10px;' >
        <div class="col-12">
            <div class="card " style="background-color: #FFFFFF;color:black " ng-repeat="(key,d) in data">
                <div class="card-block">

                    <div class="row">
                        <div class="col-4">

                            <h1 class='text-center'> {{ d.date.day }} </h1>

                            <p class='text-center'>{{ d.date.mouth }} </p>
                            <p class='text-center'>{{ d.date.year }}</p>
                        </div>
                        <div class="col-4 ">
                            <h3 class="card-title">{{ nameuser }}</h3>

                            <label>รายละเอียด</label>
                            <p class='text-center'>
                                <strong>{{ d.detaill }}</strong>
                            </p>
                        </div>
                        <div class="col-4 text-right">
                            <p>{{ type[d.typeof] }}</p>
                            <p>{{ subtype[d.subtype] }}</p>

                            <h5>
                                <strong>{{ d.money | currency:"฿ ": 2 }} บาท</strong>
                            </h5>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>