<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="public/css/main.css">


</head>

<body id='core'>

    <header class='headerP ' ng-include="'src/client/core/views/header.client.view.html'"></header>


    <div ui-view></div>


    <script >
        var users = null;
    </script>

    <script src="/socket.io/socket.io.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>


    <script src="src/client/core/app/app.js"></script>
    <script src="src/client/core/app/init.js"></script>
    <script src="src/client/core/modules/core.js"></script>
    <script src="src/client/users/users_module.js"></script>
    
    <script src="src/client/setting/setting.js"></script>
    
    <script src="src/client/setting/controllers/settingType.js"></script>
    
    <script src="src/client/core/routes/routes.js"></script>
    <script src="src/client/setting/routes/setting-routes.js"></script>
    <script src="src/client/users/routes/users_routes.js"></script>
    
    <script src="src/client/core/controllers/homecontroller.js"></script>
    <script src="src/client/core/controllers/viewscontroller.js"></script>
    

    <script src="src/client/core/services/core/income.js"></script>
    <script src="src/client/core/services/core/mouthY.js"></script>
    <script src="src/client/core/services/core/socket.js"></script>
    
    
    <script src="src/client/setting/services/typeMoney.js"></script>
    <script src="src/client/users/services/Auth.js"></script>
    <script src="src/client/users/services/user_service.js"></script>
    
    <!--<script src="http://localhost:35729/livereload.js"></script>-->
</body>

</html>