<div class="row  " style='position: relative;top:10px;'>
    <div class="col-12">
        <div class="card " style="background-color: #FFFFFF;color:black " ng-repeat="(key,d) in information">
            <div class="card-block">



                <p class='text-right' >
                    <strong ng-click="deleteInFor( d._id)"><i  style='color:rgb(250, 98, 98);font-size:23px;' class="far fa-times-circle"></i></strong>
                </p>


                <div class="row">
                    <div class="col-12 col-md-4">

                        <h1 class='text-center'> {{ day(d.timeCreate) }} </h1>

                        <p class='text-center'>{{ mouth(d.timeCreate) }} </p>
                        <p class='text-center'>{{ year(d.timeCreate) }}</p>
                    </div>
                    <div class="col-12 col-md-4 ">
                        <h3 class="card-title">{{ iduser }}</h3>

                        <label>รายละเอียด</label>
                        <p class='text-center'>
                            <strong>{{ d.detailList }}</strong>
                        </p>
                    </div>
                    <div class="col-12 col-md-4 text-right">
                        <p>{{ d.subtypeMoney }}</p>
                        <p>{{ d.typeMoney }}</p>

                        <h5>
                            <strong>{{ d.moneyInput | currency:"฿ ": 2 }} บาท</strong>
                        </h5>
                        <p href="#" class=""></p>
                    </div>
                </div>
                <button ng-click='getInfor(d._id)' style='background:rgb(0, 89, 255);color:white'  class='text-right  btn btn-block'>
                    <i class="far fa-edit"></i>
                    <strong> แก้ไข</strong>
                </button>

            </div>
        </div>
        
    </div>
</div>