<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 p-3 card" style='background-color: #FFFFFF;'>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">วัน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">เดือน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ปี</a>
                </li>

            </ul>
        </div>
        <div class="col-12 col-md-9 p-3">
            <div class="card">

                <div class="row">
                    <div class="col-12">
                        <div class="row p-3">
                            <div class="col-12 col-md-3">
                                <p>รายรับทั้้งหมด : {{ inmoney }}</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>รายจ่ายทั่งหมด : {{ delmoney }}</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>ยอดเงินคงเหลือ : {{ inmoney - delmoney }}</p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>เงินที่ออมได้ : {{ saveMoney }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-9 p-3">
                <a ui-sref='home.views.show'>Show</a>
                <a ui-sref='home.views.table'>Table</a>
                
            </div>
           <div ui-view></div>
        </div>
    </div>

    <div class="row" ng-if='!showUpadte'>
        <div class="container">
            {{dateForUpdate}}
            <div class="col-12 col-md-6">
                <form >
                    <div class="md-form"><input type="text" class="form-control" ng-model="dateForUpdate.moneyInput"></div>
                    <div class="md-form"><input type="text" class="form-control" ng-model="dateForUpdate.detailList"></div>
                    <div class="md-form">
                        <select name="" ng-model='dataForUpdate.typeMoney' convert-to-number>
                            <option value="{{dateForUpdate.typeMoney}}">{{dateForUpdate.typeMoney}}</option>
                            <option value="รายจ่าย">รายจ่าย</option>
                            <option value="รายรับ">รายรับ</option>
                            <option value="ออม">ออม</option>
                            
                        </select>
                        <select name="" id="">
                            <option value="">{{dateForUpdate.subtypeMoney}}</option>
                        </select>
                    </div>
                    <div class="md-form"><button class="btn " ng-click='updateInfor()'>T</button></div>
                </form>
            </div>
        </div>
    </div>
</div>