<div class="container">
    <div class="row p-3 bb" style='background:white'>

        <div class="col-12 col-md-4 p-3 " ng-hide='totalShow'>
            <h3>รายการใหม่
                <span class="badge badge-secondary badge-danger">New</span>
            </h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">เงิน</th>
                        <th scope="col">ประเภท</th>
                        <th scope="col">เวลา / วัน</th>
                    </tr>
                </thead>
                <tr ng-repeat="i in showInfor">
                    <td>{{i.moneyInput | currency : '฿' : 2}}</td>
                    <td>{{i.typeMoney }}</td>
                    <td>{{i.timeCreate | date : 'h:ma d/m/yy'}}</td>

                </tr>
            </table>
        </div>
        <div class="col-12 col-md-4 p-3 " style='margin:auto' ng-hide='totalShow'>
            <div class="col-12">
                <h3>{{showTitle}}</h3>
            </div>

            <div class="bigShow">

                <h3> {{dash_Big | currency : '฿' : 2 }}</h3>


            </div>
        </div>
        <div class="col-12 col-md-4 p-3 " style='margin:auto' ng-hide='totalShow'>
            <!-- ความสำเร็จเป้าหมาย -->
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12 col-md-3 " style='text-align:center'>
            <h3 ng-click='typeShow("aven")' class='p-3 bb'>
                <small>
                    {{show.avenDay | currency : '฿' : 2 }} บาท
                    <br>
                </small>
            </h3>
            <small>
                จำนวนเงินเฉลี่ย จาก {{show.numI}} วัน
            </small>
        </div>
        <div class="col-12 col-md-3 " style='text-align:center'>
            <h3 ng-click='typeShow("totalComein")' class='p-3 bb'>
                <small>
                    {{show.totalComein | currency : '฿' : 2 }} บาท
                    <br>
                </small>
            </h3>
            <small>
                จำนวนเงินรายรับของเดือนน จาก {{show.numCome}} รายการ
            </small>
        </div>
        <div class="col-12 col-md-3 " style='text-align:center'>
            <h3 ng-click='typeShow("beyond")' class='p-3 bb'>
                <small>
                    {{show.beyond | currency : '฿' : 2 }} บาท
                    <br>
                </small>
            </h3>
            <small>
                จำนวนเงินคงเหลือ จาก {{show.numB}} รายการ
            </small>
        </div>
        <div class="col-12 col-md-3 " style='text-align:center'>
            <h3 ng-click='typeShow("pay")' class='p-3 bb'>
                <small>
                    {{show.pay | currency : '฿' : 2 }} บาท
                    <br>
                </small>
            </h3>
            <small>
                จำนวนเงินรายจ่ายของเดือนน จาก {{show.numI}} รายการ
            </small>
        </div>
        
    </div>


</div>