<div class="container">
    <div class="row">
        <div class="col-12 text-center p-3">
            <h1 style='color:red'>Dash Board</h1>
        </div>
        <div class="col-12 col-md-4 ">
            <div class='p-3 bb '>
                <h3 style='color:red;text-align: center'> จำนวนรายจ่ายเฉลี่ย</h3>

                <div class="p-3">
                    <h3 style='color:rgb(0, 0, 0);text-align: center' ng-click='typeShow("aven")'>

                        <small> {{show.avenDay | currency : '฿' : 2 }} บาท</small>
                    </h3>

                </div>
                <div class="p-2 text-center">
                    <label>รายรับทั่งหมดของเดือนนี้
                        <br> {{show.totalComein | currency : '฿' : 2 }} บาท </label>
                    <br>
                    <label>รายจ่ายทั่งหมดของเดือนนี้
                        <br>{{show.pay | currency : '฿' : 2 }} บาท </label>
                    <br>
                    <label>เงินคงเหลือ
                        <br> {{show.beyond | currency : '฿' : 2 }} บาท </label>
                    <br>
                    <br>

                </div>
                <div class='text-right'>
                    <small>
                        จำนวนรายจ่ายทั่งหมดจาก {{show.numI}} วัน
                    </small>
                    <br>
                    <small>ยอดสำหรับ เดือน {{eyeDo.month }} พ.ศ. {{ eyeDo.year }} </small>

                </div>
            </div>

        </div>
        <div class="col-12 col-md-6 col-lg-8  " style='margin-bottom:10px;'>
            <div class='p-3 bb'>
                <div class="text-right">
                    <a class='btn'>ปี</a>
                    <a class='btn'>เดือน</a>
                    <a class='btn btn-primary btn-lg' style='color:white'>อาทิตย์</a>
                </div>
                <h3 style='color:red;text-align: center'> ตารางกราฟแสดงผล</h3>
                <div zingchart id="chart-1" zc-json="myJson" zc-width=100%></div>
            </div>
        </div>

        <div class="col-12 bb col-md-6 col-lg-4 p-3 ">
            <div class="p-3">

                <h3 style='color:red;'>
                    รายารสิ่งของที่กำลังจะได้
                </h3>
                <div class="md-form p-2">
                    <input type="text" placeholder="ค้นหารายการสิ่งของที่อยากได้" class="form-control">
                </div>
                <div class='table_over'>
                    <table>
                        <tr>
                            <th>ชื่อรายการ</th>
                            <th>เหลืออีกเท่าไหร่</th>
                            <th>ลบ</th>
                        </tr>
                        <tr>
                            <td>Mac book</td>
                            <td>500.00 </td>
                            <td>
                                <i class="fas fa-times"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Mac book</td>
                            <td>500.00 </td>
                            <td>
                                <i class="fas fa-times"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>บ้าน</td>
                            <td>500,000.00</td>
                            <td>
                                <i class="fas fa-times"></i>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class='text-right p-2'>
                    <h5>ยอดเงินเก็บทั่งหมด
                        <br> 100,000.00 บาท</h5>
                </div>
            </div>

        </div>
        <div class='col-12 col-md-6 col-lg-8 '>
            <div class="p-3 bb">
                <div class='md-form text-right'>
                    <select class='form-control' ng-model="myJson2_S" ng-change='data_flow(myJson2_S)'>
                        <option value="รายรับ">รายรับ</option>
                        <option value="รายจ่าย">รายจ่าย</option>

                        <option value="เงินออม">เงินออม</option>

                    </select>
                </div>

                <div zingchart id="myChart" zc-json="myJson2" zc-width=100%></div>
            </div>



        </div>

    </div>

</div>