<div class="container">
    <div class="row p-3">
        <div class="col-12 col-md-3 " style='text-align:center'>
            <h3 ng-click='typeShow("aven")' class='p-3 bb'>
                <small>
                    {{show.avenDay | currency : '฿' : 2 }} บาท
                    <br>
                </small>
            </h3>
            <small>
                จำนวนเงินเฉลี่ย จาก {{show.numI}} วัน
            </small>
        </div>
        <div class="col-12 col-md-3 " style='text-align:center'>
            <h3 ng-click='typeShow("totalComein")' class='p-3 bb'>
                <small>
                    {{show.totalComein | currency : '฿' : 2 }} บาท
                    <br>
                </small>
            </h3>
            <small>
                จำนวนเงินรายรับของเดือนน จาก {{show.numCome}} รายการ
            </small>
        </div>
        <div class="col-12 col-md-3 " style='text-align:center'>
            <h3 ng-click='typeShow("beyond")' class='p-3 bb'>
                <small>
                    {{show.beyond | currency : '฿' : 2 }} บาท
                    <br>
                </small>
            </h3>
            <small>
                จำนวนเงินคงเหลือ จาก {{show.numB}} รายการ
            </small>
        </div>
        <div class="col-12 col-md-3 " style='text-align:center'>
            <h3 ng-click='typeShow("pay")' class='p-3 bb'>
                <small>
                    {{show.pay | currency : '฿' : 2 }} บาท
                    <br>
                </small>
            </h3>
            <small>
                จำนวนเงินรายจ่ายของเดือนน จาก {{show.numI}} รายการ
            </small>
        </div>

    </div>
    <div class="row p-3 ">

        <div class="col-12 col-md-4 p-3 " ng-hide='totalShow'>
            <h3>แสดงเท่าไหร่ถึงจะได้สิงของ
            </h3>
            <table class="table">
                <thead class="thead-dark">
                    <th>สิงของ</th>
                    <th>เหลืออีกเท่าไหร่</th>
                </thead>
     
                <tr ng-repeat="i in showInfor">
                    <td>{{i.name}}</td>
                    <td>{{i.price | currency : '฿' : 2}}</td>
                </tr>
            </table>
        </div>
        <div class="col-12 col-md-8" style='margin:auto' ng-hide='totalShow'>
            <div class=" p-3">
                <div class="col-12 p-3 text-center">
                    <h3>{{showTitle}}</h3>
                </div>

                <div class="bigShow">

                    <h3> {{dash_Big | currency : '฿' : 2 }}</h3>


                </div>
            </div>

        </div>

    </div>


    <div class="col-12 text-center">
        <h5> ยอดสำหรับ เดือน {{eyeDo.month }} พ.ศ. {{ eyeDo.year }} </h5>
    </div>
</div>