<div class="">
    <div class="row income_insert" style='background:white;box-shadow:0 0 10px 5px rgba(0,0,0,0.1)' ng-if='!type_ready'>
        <div class="col-12 col-md-5 income_b" >

            <div class="p-2">
                <a style='font-size:22px' ui-sref='home.insert'>
                    <i class="far fa-times-circle"></i>
                </a>
            </div>

            <div class="p-2" style='background:rgba(255,255,255,0.8)'>
                <h3 style='color:rgb(255, 0, 0)'> เพิ่มบัญชี รายรับรายจ่าย</h3>
                <small  class='text-muted'>* ใส่จำนวนเงินที่ต้องการ ใส่เฉพาะตัวเลข
                    <br> * ระบุบประเภทของรายการ และให้ระบุบเป็น รายรับ รายจ่าย หรือเป็นเงินออม
                    <br> * เมื่อระบุบประเภทแล้ว จะมีการแสดงประเภทย่อย โดยจะต้องไประบุบประเภทย่อยก่อน โดยประเภทย่อยใช้แสดง เช่น
                    รายจ่าย จ่าย อาหาร หรือ รายจ่าย จ่าย สินค้าในครัวเรือน เป็นต้น โดยสามารถ คลิดที่ >>
                    <a ui-sref='setting.type'
                        style='color:rgb(0, 119, 255)'>ตั่งค่าประเภทย่อย</a>
                </small>

            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="p-3 col-12  text-center  margin-center">
                <h1 class='colorFont'>รายรับ รายจ่าย</h1>
            </div>
            <div class="col-12 ">

                <form ng-submit="save()" class='col-12'>
                    <div class="row" style='margin:0 auto;' ng-if='!skipp'>
                        <div class="col-12 ">

                            <div class="md-form">
                                <label for="">ใส่จำนวนเงินที่ต้องการ</label>
                                <input type="text" ng-change="keypass()" ng-model="information.money" placeholder="0.00 บาท" class="form-control">
                            </div>

                        </div>

                        <div class="col-12 ">
                            <label for="ระบุบประเภทของรายการ">ระบุบประเภทของรายการ</label>
                            <select class="form-control" ng-model="information.typeof" ng-change="showtype()">
                                <option ng-repeat="(key,types) in type" value='{{key}}'>{{ types }}</option>
                            </select>

                            <label ng-if='subtype' for="ระบุบประเภทย่อยของรายการ">ระบุบประเภทย่อยของรายการ</label>
                            <select class="form-control" ng-model="information.subtype" ng-if='subtype'>
                                <option ng-repeat="(key,types) in subtype" value='{{key}}'>{{ types }}</option>
                            </select>
                            <br>
                        </div>
                       
                            <button type="button" ng-click="skip()" class=" btn btn-lg btn-block btn-danger">
                                <i class="fas fa-angle-double-right"></i> Skip


                            </button>
                        
                        <p class='suc' ng-if='success'>{{success}}</p>

                    </div>
                    <div class="row" ng-if='skipp'>
                        <div class="col-12 col-md-6">
                            <div class="col-12 ">
                                <label for="">จำนวนเงิน</label>
                                <p class='text-center'>
                                    <strong>{{ information.money | currency:"฿ ": 2 }} บาท</strong>
                                </p>
                            </div>
                            <div class="col-12 ">
                                <label for="">ประเภทของรายการ</label>
                                <p class='text-center'>
                                    <strong>{{ type[information.typeof] }}</strong>
                                </p>
                            </div>
                            <div class="col-12 ">
                                <label for="">ประเภทย่อยของรายการ</label>
                                <p class='text-center'>
                                    <strong>{{ subtype[information.subtype] }}</strong>
                                </p>
                            </div>
                            <div class="col-12 ">
                                <label for="">รายละเอียด</label>
                                <p class='text-center'>
                                    <strong>{{ information.detaill }}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-3">
                            <div class="form-group">
                                <label for="comment">รายละเอียดของรายการ :</label>
                                <input type="text" ng-model='information.detaill' class="form-control">
                            </div>
                        </div>
                        <button type="submit" class='btn btn-lg btn-block btn-danger'>
                            <i class="far fa-save"></i> SAVE</button>
                    </div>
                </form>

            </div>
            <div class="p-3">

            </div>
        </div>
       

    </div>
    <div class="row income_insert p-3 " style='background:white;box-shadow:0 0 10px 5px rgba(0,0,0,0.1)' ng-if='type_ready' >

        <div style='margin:auto;' class="col-12 text-center p-3">

            <h3 class='p-3'> กรุณาตั่งค่า ประเภทย่อย ที่คุณต้องการก่อนเพิ่มบัญชีรายรับรายจ่าย</h3>
        </div>
        <div style='margin:auto;' class="col-12 col-md-6">

                <form  style='margin:auto;' ng-submit="saveType()" name='myForm' novalidate>
                        <div class="md-form">
                            <label for="type">เลือกประเภทหลัก </label>
                            <select type="text" class="form-control" name='typeMoney' ng-model="type_subtype.typeMoney" required>
            
                                <option value="รายรับ">รายรับ</option>
                                <option value="รายจ่าย">รายจ่าย</option>
                                <option value="เงินออม">เงินออม</option>
                            </select>
                            <small> * ในส่วนของประเภทคือ รายรับ รายจ่าย เงินเก็บ </small>
            
                        </div>
                        <div class="md-form">
                            <label for="type">ประเภทย่อยที่ต้องการใส่  </label>
                            <input type="text" class="form-control" name='subtype' placeholder="ชนิดเพิ่มเติม * จำเป็นต้องใส่เป็นตัวอักษร" ng-model='type_subtype.subtype'
                                required>
                            <small> *จำเป็นต้องใส่เพื่อขยายในส่วนของประเภทหลักว่า เป็นรายการแบบไหน เช่น เป็นรายจ่าย ประเภทย่อยคือ อาหาร หรือ เป็นเครื่องดื่ม หรือ อื่นๆ</small>
                                
                        </div>
                        <div class="md-form p-2">
                            <button type='submit' ng-disabled="myForm.$invalid" class="btn btn-block  btn-danger">Save</button>
                           
                        </div>
          
            <p>หมายเหตุ : การตั่งต่าประเภทย่อยคือ สมมุติเราเลือกรายรับ เราสามารถกำหนดประเภทย่อยเป็น เงินเดือน หรืออื่นๆได้</p>
        </div>
    </div>

    <div class="p-1"></div>
</div>