<div class="container-fluid">



    <div class="row">
        <div class='col-md-2 d-none d-md-block bg-light sidebar '>
            <div class='p-3'>

            </div>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " ui-sref="home.dash">
                            <i class="fas fa-home"></i> DashBoard
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " ui-sref="home.insert.income">จัดการบัญชี</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " ui-sref="home.insert.wanna">เพิ่มสิ่งที่ต้องการ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="home.views">
                            <i class="fas fa-book"></i> เรียกดูบัญชีทั้งหมด</a>
                    </li>

                </ul>
            </div>


        </div>
        <main class='col-md-9 ml-sm-auto col-lg-10 pt-3 px-4' style='margin:auto;' ui-view></main>

    </div>

</div>