<div class="container ">
    <div class='backGcolor-nav backGcolor'>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link " ui-sref="home.dash">DashBoard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " ui-sref="home.insert">เพิ่มข้อมูล</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="home.views">ดูรายการรายรับรายจ่ายทั่งหมด</a>
            </li>
            
        </ul>
    </div>
    <div class='backwhite' ui-view></div>

</div>