<div class="container-fluid">
    


    <div class="row">
        <div class='col-md-2 d-none d-md-block bg-light sidebar '>
            <div class='p-3'>

            </div>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link "  ui-sref="home.dash">
                            <i class="fas fa-home"></i> DashBoard
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link " ngclick='ngclickA()' ui-sref="home.insert.income"><i class="fas fa-dollar-sign"></i> จัดการบัญชี</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " ngclick='ngclickA()' ui-sref="home.insert.wanna"> <i class="far fa-gem"></i> เพิ่มสิ่งที่ต้องการ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ngclick='ngclickA()' ui-sref="home.views">
                            <i class="fas fa-book"></i> เรียกดูบัญชีทั้งหมด</a>
                    </li>
                    <li class="nav-item"><a ui-sref='home.type'ngclick='ngclickA()' class="nav-link"><i class="fas fa-plus"></i> เพิ่มประเภทย่อย</a></li>

                </ul>
                <hr>
                <a ui-sref='home.user' class="nav-link"><i class="fas fa-address-card"></i> ข้อมูลสมาชิก</a>
            </div>


        </div>
        <main class='col-md-9 ml-sm-auto col-lg-10 pt-3 px-4' style='margin:auto;' ui-view></main>

    </div>

</div>