<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 p-3 card" style='background-color: #FFFFFF;'>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" ui-sref='home.views.day({type:"all"})'>all</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref='home.views.day({type:"day"})'>วัน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref='home.views.day({type:"month"})'>เดือน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref='home.views.day({type:"year"})'>ปี</a>
                </li>

            </ul>
        </div>
        <div class="col-12 col-md-9 p-3">
        
            <div ui-view></div>
        </div>
    </div>

    
</div>