<div class="col-12">
    <div class="row">
            <div class="p-3 col-12 col-md-6 text-center  margin-center">
                    <h1 class='colorFont'>สิ่งที่ต้องการ</h1>
                </div>
        <div class="col-12">
            <div class="form">
                <form class='col-12 col-md-6' style='margin:auto' >
                   <div class="md-form p-2">
                       <label for="">สิ่งของที่ต้องการ : </label>
                        <input type="text" placeholder="สิ่งของที่ต้องการ" class="form-control">
                   </div>
                   <div class="md-form p-2">
                       <label for="">ราคาของสิ่งนี้ : </label>
                        <input type="text" placeholder="ราคาของสิ่งนี้" class="form-control">
                   </div>
                   <div class="md-form p-3">
                      <button class="btn btn-block">save</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
</div>