<div class="">
    <div class="row income_insert" style='background:white;box-shadow:0 0 10px 5px rgba(0,0,0,0.1)'>

        <div class="col-12 col-md-6" style='background:white;'>
                
        
            <div class="p-3 col-12 col-md-6 text-center  margin-center">
                <h1 class='colorFont'>สิ่งที่ต้องการ</h1>
            </div>
            <div class="form">
                <form style='margin:auto'>
                    <div class="md-form ">
                        <label for="">สิ่งของที่ต้องการ : </label>
                        <input type="text" placeholder="สิ่งของที่ต้องการ" class="form-control">
                    </div>
                    <div class="md-form">
                        <label for="">ราคาของสิ่งนี้ : </label>
                        <input type="text" placeholder="ราคาของสิ่งนี้" class="form-control">
                    </div>
                    <div class="md-form p-2">
                        <button class="btn btn-block btn-lg btn-danger">บันทึกรายการ</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6 wanna_B">
                <div class="p-2 text-right">
                        <a style='font-size:22px' ui-sref='home.insert'>
                            <i class="far fa-times-circle"></i>
                        </a>
                    </div>
            <div style='background:rgba(255,255,255,0.8)' class="p-3">
                <h3 style='color:rgb(255, 0, 0)'> เพิ่มบัญชี สิ่งของที่ต้องกการ</h3>
                <small style='background:rgba(255,255,255,0.8)'> * ราคาของสิ่งนี้ ให้ใส่เป็นตัวเลข เพื่อไปทำการคำนวณว่า เช่น ต้องกการซื้อ macbook pro ราคา 43000 โดยประมาณ มีเงินเก็บอยู 200 ต้องหาเพิ่มเท่าไหร่ถึงจะได้ ระบบจะช่วยคำนวณในส่วนนี้ </small>
            </div>
        </div>
    </div>
    <div class="p-1">

    </div>
</div>