<div class="container">
        <div class="col-12 col-md-6 col-lg-5" style='margin:auto;'>
                <div class="row auth p-3" >
                    <div class="col-6 text-center p-3" style='margin:auto;'>
                        <a ui-sref='auth.signin'>เข้าสู่ระบบ</a>
                    </div>
                    <div class="col-6 text-center p-3" style='margin:auto;'>
                        <a ui-sref='auth.signup'>สมัครสมาชิก</a>
        
                    </div>
                </div>
            </div>
    <div class="col-12 col-md-6 col-lg-5" style='margin:auto;'>
        <div ui-view></div>
    </div>
    
</div>